.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 40px 10px;
}
.services-title{
    position: relative;
}
.services-title h1{
    padding: 0px 30px;
    font-size: 40px;
    font-weight: 600;
    color: var(--text-color);
}
.services-title img{
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 50px;
}
.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid var(--text-color);
    transition: 0.4s;
    cursor: pointer;
}
.services-format:hover{
    border: 2px solid var(--text-color-1);
    background-image: linear-gradient(45deg, var(--hover));
    transform: scale(1.05);
    transition: 0.4s;
}
.services-format h3{
    font-size: 28px;
    font-weight: 600;
    color: var(--text-color);
}
.services-format h2{
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(270deg, var(--text-color-1) 50%, var(--text-color-2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.services-format p{
    color: var(--text-color);
    font-size: 16px;
    line-height: 20px;
    max-width: 200px;
}
.services-readmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}
.arrow{
    font-size: 25px;
    fill: var(--text-color);
   
}

@media(max-width:768px){
    .services{
        align-items: start;
        gap: 70px;
    }
    .services-title h1{
        padding: 0;
        font-size: 30px;
    }
    .services-title img{
        width: 80px;
        right: -15px;
    }
    .services-format{
        gap: 20px;
        padding: 20px;
    }
    .services-format h2{
        font-size: 18px;
    }
    .services-format p{
        font-size: 13px;
        line-height: 20px;
        max-width: 300px;
    }
    .services-readmore img{
        width: 15px;
    }
    .services-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}